<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Main</title>
</head>
<body>
    <h3>여러가지 ModelAttribute 전달방법</h3>
    <p>
        <ul>
            <li><a th:href="@{/mapping/page}">page.html 이동</a></li>
            <li><a th:href="@{/mapping/requestMapping}">Request Mapping And Model</a></li>
            <li><a th:href="@{/mapping/modelAndView}">Model And View</a></li>
            <li><a th:href="@{/mapping/redirectViewFirst}">redirect View First</a></li>
            <li><a th:href="@{/mapping/redirectViewSecond}">redirect View Second</a></li>
        </ul>
    </p>
</body>
</html>